{% if page.images %}
{% if page.images.size > 1 %}
{% assign cols = 6 %}
{% else %}
{% assign cols = 12 %}
{% endif %}
 <div class="container-fluid bg-pastel py-3">
   <div class="container row mx-auto">
  {% for image in page.images %}
    <div class="col-md-{{cols}} h-100">​
      <figure class="figure">
        <img src="{{ image.file}}" class="img-fluid img-thumbnail" alt="{{image.caption}}">
        <figcaption class="figure-caption text-info">{{ image.caption }}</figcaption>
      </figure>
    </div>
  {% endfor %}
  </div>
  </div>
{% endif %}
