<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script><!-- Back to top script -->
<script src="{{site.baseurl}}/js/backtotop.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>

<!-- Cookie management -->
<script defer type="text/javascript" src="{{site.baseurl}}/js/config.js"></script>
<script defer type="text/javascript" src="{{site.baseurl}}/js/klaro.js"></script>
<!-- End of body -->

<script>
